html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Alegreya Sans', sans-serif;
}

.navigation {
  display: flex;
  height: 2.8rem;
  width: 100%;
}

.navigation__logoContainer {
  display: flex;
  width: 20%;
  height: 100%;
  background-color: #ffffff;
}

.navigation__logoContainer-logo {
  margin-left: 20px;
}

.navigation__linksContainer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0;
  height: 2.8rem;
  width: 80%;
}

.navigation__linksContainer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  color: #ffffff;
  background-color: #444444;
  text-decoration: none;
}

.navigation__linksContainer-link:hover {
  background-color: #54be90;
}

.heading {
  display: flex;
  flex-direction: column;
  height: 45rem;
}

.heading__background {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin-top: 8%;
  background-image: url("img/background.jpg");
  background-size: cover;
}

.heading__background__head, .heading__background__body {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.heading__background__head {
  font-size: 3.5rem;
  margin-top: 8%;
}

.heading__background__body {
  font-size: 2.5rem;
}

.heading__background__head em {
  font-style: normal;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ffffff;
  color: #54be90;
}

.heading__background__paragraph {
  text-align: center;
  margin: 4% 15% 3% 15%;
  font-size: 1.3rem;
  margin-bottom: 5%;
}

.heading__background__paragraph strong {
  font-weight: bold;
  color: #444444;
}

.workflow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20rem;
  background-color: #232323;
  color: #ffffff;
}

.workflow__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;
  margin: 0 1% 0 1%;
}

.workflow__box__circle {
  height: 60px;
  width: 120px;
  border-radius: 0 0 220px 220px;
  background-color: #ffffff;
}

.workflow__box__heading {
  font-size: 1.5rem;
  font-weight: bold;
  color:#54be90;
  height: fit-content;
}

.workflow__box__text {
  text-align: center;
  margin: 0 5% 50% 5%;
}

.myskills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
}

.myskills__heading {
  font-size: 3.5rem;
  font-weight: bold;
  color: #54be90;
}

.myskills__progress {
  display: flex;
  flex-direction: row;
  height: 6%;
  width: 70%;
  margin: 3px;
}

.myskills__progress__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #232323;
  color: #ffffff;
}

.myskills__progress__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  width: 80%;
  font-weight: bold;
  background-color: #ebebeb;
  color: #444444;
}

.myskills__progress__greenBar {
  display: flex;
  height: 100%;
  width: 80%;
  background-color: #54be90;
}

.myPortfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  background-color: #54be90;
}

.myPortfolio__heading {
  align-self: center;
  padding: 40px 40px 0 40px;
  margin: 0;
  font-size: 3.5rem;
  color: #ffffff;
}

.myPortfolio__boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 30rem;
}

.myPortfolio__box {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 13rem;
  margin: 6px;
  background-color: #ffffff;
}

.myPortfolio__box__img {
  height: 100px;
  width: 70px;
}

.myPortfolio__box__techStack {
  margin: 0;
  padding: 0;
}
