html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Alegreya Sans', sans-serif;
}

.navigation {
  display: flex;
  height: 2.8rem;
  width: 100%;
}

.navigation__logoContainer {
  display: flex;
  width: 20%;
  height: 100%;
  background-color: #ffffff;
}

.navigation__logoContainer-logo {
  margin-left: 20px;
}

.navigation__linksContainer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0;
  height: 2.8rem;
  width: 80%;
}

.navigation__linksContainer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  color: #ffffff;
  background-color: #444444;
  text-decoration: none;
}

.navigation__linksContainer-link:hover {
  background-color: #54be90;
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading__background {
  display: flex;
  flex-direction: column;
  height: 30rem;
  margin-top: 8%;
  background-image: url("img/background.jpg");
  background-size: cover;
}

.heading__background__head, .heading__background__body {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.heading__background__head {
  font-size: 3.5rem;
  margin-top: 8%;
}

.heading__background__body {
  font-size: 2.5rem;
}

.heading__background__head em {
  font-style: normal;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ffffff;
  color: #54be90;
}

.heading__background__paragraph {
  text-align: center;
  margin: 4% 15% 3% 15%;
  font-size: 1.3rem;
  margin-bottom: 10%;
}

.heading__background__paragraph strong {
  font-weight: bold;
  color: #444444;
}

.workflow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20rem;
  background-color: #232323;
  color: #ffffff;
}

.workflow__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;
  margin: 0 1% 0 1%;
}

.workflow__box__circle {
  height: 60px;
  width: 120px;
  border-radius: 0 0 220px 220px;
  background-color: #ffffff;
}

.workflow__box__heading {
  font-size: 1.5rem;
  font-weight: bold;
  color:#54be90;
  height: fit-content;
}

.workflow__box__text {
  text-align: center;
  margin: 0 5% 50% 5%;
}

.myskills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
}

.myskills__heading {
  font-size: 3.5rem;
  font-weight: bold;
  color: #54be90;
}

.myskills__progress {
  display: flex;
  flex-direction: row;
  height: 6%;
  width: 70%;
  margin: 3px;
}

.myskills__progress__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #232323;
  color: #ffffff;
}

.myskills__progress__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  width: 80%;
  font-weight: bold;
  background-color: #ebebeb;
  color: #444444;
}

.myskills__progress__greenBar {
  display: flex;
  height: 100%;
  width: 80%;
  background-color: #54be90;
}

.myPortfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  background-color: #54be90;
}

.myPortfolio__heading {
  align-self: center;
  padding: 40px 40px 0 40px;
  margin: 0;
  font-size: 3.5rem;
  color: #ffffff;
}

.myPortfolio__boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 30rem;
}

.myPortfolio__box {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 13rem;
  margin: 6px;
  background-color: #ffffff;
}

.myPortfolio__box__img {
  height: 100px;
  width: 70px;
}

.myPortfolio__box__techStack {
  margin: 0;
  padding: 0;
}

.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #ebebeb;
	padding: 2rem 15% 6rem 15%;
}

.heading {
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
}

.about .heading {
	width: 100%;
	color: #232323;
}

.about__img {
	width: 45%;
	max-width: 30rem;
	height: 30rem;
	border-radius: 70%;
	object-position: center;
}

.about__desc {
	width: 50%;
	font-size: 1.25rem;
}

.about__underline {
	border-bottom: 5px solid #54be90;
}

.about__cta {
	font-size: 1.5rem;
}

.button {
	color: #ffffff;
	background-color: #54be90;
	border-radius: 0.5rem;
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.5);
	font-size: 1.25rem;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	padding: 0.5rem 3rem;
}

.button:hover {
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
}

.social {
	background-color: #232323;
	padding: 2rem 15% 6rem 15%;
}

.social .heading {
	color: #ffffff;
	font-size: 2.5rem;
}

.social__container {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.social__link {
	margin: 0 6rem;
}

.social__link svg {
	display: block;
	width: 6rem;
	height: 6rem;
	margin: 0 auto;
}

.social__link svg path {
	fill: #ffffff;
}

.social__link:hover svg path {
	opacity: 0.75;
}

.contact {
	background-color: #54be90;
	padding: 2rem 15% 6rem 15%;
}

.contact .heading {
	color: #ffffff;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 4rem;
}

.form__input {
	width: 48%;
	color: #ffffff;
	background: transparent;
	border: none;
	border-bottom: 1px solid #ebebeb;
	outline: none;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.form__input::placeholder {
	color: #ebebeb;
}

.form__label {
	width: 100%;
	color: #ebebeb;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.form__textarea {
	width: 100%;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

.form__button {
	width: 100%;
	color: #ffffff;
	background-color: #232323;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 4rem;
	padding: 0.75rem;
	cursor: pointer;
}

.form__button:hover {
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
}

.footer {
	background-color: #ebebeb;
	padding: 2rem 2rem;
}

.footer .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
	color: #232323;
	font-size: 3.5rem;
	font-weight: 800;
}

.footer__line {
	width: 25%;
	height: 0.5rem;
	background-color: #54be90;
}

.footer .social__link {
	margin: 0 2rem;
}

.footer .social__link svg {
	width: 4rem;
	height: 4rem;
}

.footer .social__link svg path {
	fill: #444444;
	opacity: 0.25;
}

.footer .social__link:hover svg path {
	opacity: 0.5;
}

.footer__copy {
	font-size: 1.5rem;
	text-align: center;
	margin-top: 4rem;
}