html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Alegreya Sans', sans-serif;

}

.navigation {
  display: flex;
  height: 2.8rem;
  width: 100%;
}

.navigation__logoContainer {
  display: flex;
  width: 20%;
  height: 100%;
  background-color: #ffffff;
}

.navigation__logoContainer-logo {
  margin-left: 20px;
}

.navigation__linksContainer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0;
  height: 2.8rem;
  width: 80%;
}

.navigation__linksContainer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  color: #ffffff;
  background-color: #444444;
  text-decoration: none;
}

.navigation__linksContainer-link:hover {
  background-color: #54be90;
}

.heading {
  display: flex;
  flex-direction: column;
  height: 45rem;
}

.heading__background {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin-top: 8%;
  background-image: url("img/background.jpg");
  background-size: cover;
}

.heading__background__head, .heading__background__body {
  margin: 0;
  text-align: center;
  font-size: 3.5rem;
  color: #ffffff;
}

.heading__background__head {
  margin-top: 8%;
}

.heading__background__body {
  font-size: 2.5rem;
}

.heading__background__head em {
  font-style: normal;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ffffff;
  color: #54be90;
}

.heading__background__paragraph {
  text-align: center;
  margin: 4% 15% 3% 15%;
  font-size: 1.3rem;
}

.heading__background__paragraph strong {
  font-weight: bold;
  color: #444444;
}